readme.md
.sass-cache/
dist/
docs/
app/styles/
app/js/
app/bower_components/

admin/*
!admin/wp-content/
admin/wp-content/*
!admin/wp-content/plugins/
admin/wp-content/plugins/*
!admin/wp-content/plugins/alquimia
!admin/wp-content/plugins/Q_REPLACE_DASHED
!admin/wp-content/themes/
admin/wp-content/themes/*
!admin/wp-content/themes/void

logs/
!.gitkeep
node_modules/
tmp/
.DS_Store
**/.DS_Store
.idea
npm-debug.log
.com.apple.timemachine.supported
notes.md
